.post_card{
    border: 1px solid rgb(216, 214, 214);
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    padding-bottom: 20px;
    
}

.post_card .post_creator img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    
}

.post_card .post_creator{
    float: left;
    display: flex;
    align-items: center;
    margin: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post_card .selected_img img{
    width: 100%;
    border-top: 1px solid rgb(184, 181, 181);
    border-bottom: 1px solid rgb(184, 181, 181);
}

.icon_center{
    padding: 8px;
    display: flex;
    
}
.icon_center img{
    cursor: pointer;
    padding: 3px;
    height: 30px;
    margin-left: 10px;
}

.icon_center .save_icon{
    margin-left: 430px;
}
.post_card .post_title, .post_message, .post-tags{
   margin: 0;
   text-align: left;
   padding-left: 20px;
}

.icon_center .heart_icon:visited{
    background-color: red;
}
